/* You can add global styles to this file, and also import other style files */

.ant-layout-header {
    height: auto;
    padding: 10px 0;
    background-color: #ddd;
}

.container-fluid {
    width: 100%;
    padding: 0 20px;
}

.mr20 {
    margin-right: 20px;
}

body {
    background-color: #f5f5f5;
}

.ant-input-affix-wrapper {
    font-size: 20px;
}
